#viewAllBtn {
    margin: 0 15px;
}

.btn {
    font-size: 16px;
    padding: 10px 20px;
}

#flashcardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
  
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 50%;
    height: 220px;
    font-size: 2rem;
    transition: transform 0.3s ease;
}
  
.card p {
    font-size: 1.4rem;
    margin-top: 20px;
}
  
.card-actions {
    margin-top: 30px;
    display: flex;
    gap: 40px;
}
  
.card-actions button#showAnswerBtn {
    padding: 10px 25px;
    font-size: 1rem;
}

.card-actions button#passBtn,
.card-actions button#failBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #D9DDE8;
    width: 50px;
    height: 50px;
    background-color: white;
}

.card-actions button#passBtn:hover,
.card-actions button#failBtn:hover {
    background-color: #F0F0F0;
}

.card-actions button span.material-symbols-outlined {
    font-size: 40px;
}

.card-actions button#passBtn span.material-symbols-outlined {
    color: #18AE79;
}
  
.card-actions button#failBtn span.material-symbols-outlined{
    color: #d32f2f;
}

/* Style cho bảng thống kê */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

table thead {
  background-color: #D6AB3E;
  color: white;
  text-align: left;
}

table thead th {
  padding: 12px 15px;
  font-size: 16px;
}

table tbody tr {
  border-bottom: 1px solid #ddd;
  transition: background 0.2s ease-in-out;
}

table tbody tr:hover {
  background-color: #f5f5f5;
}

table tbody td {
  padding: 12px 15px;
  font-size: 15px;
}

table td button {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background-color: #f44336;
  color: white;
  cursor: pointer;
}

table td button:hover {
  background-color: #d32f2f;
}